
.CodeMirror pre,
.ui-dialog-content,
.ui-widget textarea {
  font-size: 12px !important;
}

.CodeMirror-dialog-top {
  background-color: rgb(40, 40, 40);;
}

.elfinder-dialog .ui-helper-clearfix .elfinder-cwd-icon:before {
    display: none;
}

.elfinder-dialog .elfinder-dialog-icon-confirm {
    display: none;
}

.ui-dialog.elfinder-maximized {
  top: 50px !important;
  max-height: calc(100% - 60px) !important;
  max-width: calc(100% - 30px) !important;
}

.elfinder-navbar-wrapper {
  line-height: 10px !important;
}
.ui-helper-reset {
  line-height: 12.5px;
}

.elfinder-dialog {
  font-family: "Roboto";
}
.elfinder-dialog .ui-button-text {
  font-size: 12px;
  text-transform: capitalize;
}
.ui-dialog-titlebar .elfinder-titlebar-button-right {
  opacity: 1 !important;
}

.elfinder-dialog .CodeMirror-gutter,
.elfinder-dialog .CodeMirror-gutters,
.elfinder-dialog .CodeMirror-linenumber,
.elfinder-dialog .CodeMirror-foldgutter-open {
  background: rgb(70,70,70) !important;
}
.elfinder-dialog .CodeMirror-foldgutter-folded {
  background: rgb(55,55,55) !important;
}

.elfinder-dialog-title {
  font-family:"Roboto";
  font-size:14px;
  font-weight: normal !important;
  color: rgb(200,200,200) !important;
}

.elfinder-button-sort-menu,
.elfinder-button-menu-item {
  background-color: rgb(255,255,255) !important;
}

.elfinder-dialog .ui-dialog-titlebar {
  min-height: 18px !important;
  line-height: 18px;
  background-color: rgb(20,35,50) !important;
}
.elfinder-dialog .ui-icon {
	width: 16px;
	height: 16px;
	background-image: none !important;
  text-indent: 0 !important;
  margin: 2px 0 !important;
}


/* Folding */
.CodeMirror-foldmarker {
  color: green;
  text-shadow: none;
  font-family: arial;
  line-height: .3;
  cursor: pointer;
  font-size: 18px;
  position:relative;
  top: 1px;
}
.CodeMirror-foldgutter {
  width: .7em;
}
.CodeMirror-foldgutter-open,
.CodeMirror-foldgutter-folded {
  cursor: pointer;
  transform: scale(1.4) !important;
}
.CodeMirror-foldgutter-open:after {
  content: "\25BE";
}
.CodeMirror-foldgutter-folded:after {
  content: "\25B8";
}
