
.elfinder-dialog,
.elfinder .ui-widget-content {
  font-family: "Roboto";
}
.elfinder-dialog .ui-dialog-buttonset .ui-button-text {
  font-family: "Roboto";
  text-transform: capitalize;
}

.elfinder-dialog-edit .elfinder-edit-extras select {
  width : 150px !important;
}

.elfinder-dialog-edit .CodeMirror pre,
.ui-dialog-content,
.ui-widget textarea {
  font-size: 12px !important;
}

.elfinder-contextmenu-item {
  color: rgb(75, 75, 75) !important;
  font-size: 14px;
}
.elfinder-cwd-wrapper {
  color: rgb(115, 115, 115) !important;
}

#elfinder,
.ui-widget-content.elfinder-buttonset {
  background-image: none !important;
  background: none !important;
}

.elfinder-cwd-view-list table {
  background-color: rgb(75, 75, 75) !important;
  color: rgb(240, 240, 240);
}
.elfinder-cwd-view-list table tbody.elfinder-cwd-fixheader tr:hover,
.elfinder-cwd-view-list table tbody.elfinder-cwd-fixheader tr:nth-child(odd):hover,
.elfinder-cwd-view-list table tbody.elfinder-cwd-fixheader tr:nth-child(even):hover{
  background-color: rgb(160, 160, 160) !important;
}

.elfinder-cwd-view-list table > tbody tr,
.elfinder-cwd-view-list table:not(.tableCmd) > tbody tr:nth-child(odd),
.elfinder-cwd-view-list table:not(.tableCmd) > tbody tr:nth-child(even) {
  background-color: rgb(75, 75, 75) !important;
}

#elfinder .elfinder-toolbar > .elfinder-button-search > input {
  background-color: rgb(75, 75, 75) !important;
}
#elfinder .elfinder-toolbar > .elfinder-button-search > span.ui-icon {
  background-image: none !important
}

#elfinder .elfinder-cwd-filename > textarea {
  font-size: 14px !important;
}

.elfinder-dialog-edit .CodeMirror pre {
  background: initial !important;
}

.CodeMirror-dialog-top {
  background-color: rgb(40, 40, 40);
}

.elfinder-dialog .ui-helper-clearfix .elfinder-cwd-icon:before {
    display: none;
}

.elfinder-dialog .elfinder-dialog-icon-confirm {
    display: none;
}

.ui-dialog.elfinder-maximized {
  top: 50px !important;
  max-height: calc(100% - 60px) !important;
  max-width: calc(100% - 30px) !important;
}

.elfinder-navbar-wrapper {
  line-height: 10px !important;
}
.ui-helper-reset {
  line-height: 12.5px;
}

.ui-dialog-titlebar .elfinder-titlebar-button-right {
  opacity: 1 !important;
}

.elfinder-dialog .CodeMirror-gutter,
.elfinder-dialog .CodeMirror-gutters,
.elfinder-dialog .CodeMirror-linenumber,
.elfinder-dialog .CodeMirror-foldgutter-open {
  background: rgb(70,70,70) !important;
}
.elfinder-dialog .CodeMirror-foldgutter-folded {
  background: rgb(55,55,55) !important;
}

.elfinder-button-sort-menu,
.elfinder-button-menu-item {
  background-color: rgb(255,255,255) !important;
}

.elfinder-dialog .ui-dialog-titlebar {
  height: 28px;
  vertical-align: middle;
  background-color: rgb(85,85,85) !important;
}
.elfinder-dialog .elfinder-dialog-title {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: normal !important;
  padding: 5px;
  color: rgb(225,225,225) !important;
  font-weight: bold;
}
.elfinder-dialog .elfinder-dialog-title:before {
  content: "> "
}
.elfinder-dialog .ui-icon {
  width: 16px;
  height: 16px;
  background-image: none !important;
  text-indent: 0 !important;
  margin: 2px 0 !important;
}


/* CodeMirror */
[data-page="jeexplorer"] .CodeMirror-code { background: rgb(35,35,35) !important; }
[data-page="jeexplorer"] .CodeMirror-selected { background: rgba(65,65,65,1) !important; }

/* Folding */
[data-page="jeexplorer"] .CodeMirror-foldmarker {
  color: green;
  text-shadow: none;
  font-family: arial;
  line-height: .3;
  cursor: pointer;
  font-size: 18px;
  position:relative;
  top: 1px;
}
[data-page="jeexplorer"] .CodeMirror-foldgutter {
  width: .7em;
}
[data-page="jeexplorer"] .CodeMirror-foldgutter-open,
[data-page="jeexplorer"] .CodeMirror-foldgutter-folded {
  cursor: pointer;
  transform: scale(1.4) !important;
}
[data-page="jeexplorer"] .CodeMirror-foldgutter-open:after {
  content: "\25BE";
}
[data-page="jeexplorer"] .CodeMirror-foldgutter-folded:after {
  content: "\25B8";
}
